
@{
    Layout = "~/Views/Shared/LayoutUser.cshtml";
    ViewBag.title = "UTH-About";
    ViewBag.group1 = new List<string> { "Designed by " };

}

<main>
    <section class="agency_section layout_padding2-top">
        <div class="agency_container ">
            <div class="box ">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            About <span>Design</span> Agency
                        </h2>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    </p>
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- end agency section -->
    <!-- info section -->
</main>

<section>
    @section contact_us{
        <h6>
            CONTACT US
        </h6>
        <div class="info_link-box">
            <a href="">
                <img src="images/location.png" alt="">
                <span> Long Hoa, Dau Tieng - Binh Duong </span>
            </a>
            <a href="">
                <img src="images/call.png" alt="">
                <span>+84 393293376</span>
            </a>
            <a href="">
                <img src="images/mail.png" alt="">
                <span> vanlao0512@gmail.com</span>
            </a>
        </div>
    }

    @section need_help{
        <h6>
            NEED HELP
        </h6>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doLorem ipsum dolor sit amet, consectetur adipiscing elit, sed doLorem ipsum dolor sit amet,
        </p>
    }

    @section instagram{
        <h6>
            Instagram
        </h6>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipi
            scing elit, sed doLorem ipsum dolor sit
        </p>
    }

    @section about_us{
        <h6>
            ABOUT US
        </h6>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doLorem ipsum dolor sit amet, consectetur adipiscing elit, sed doLorem ipsum dolor sit amet,
        </p>
    }
</section>
