
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Findmatching</title>
</head>
<body>
    <div>
        2. Vẽ các điểm liên kêt lên ảnh template và ảnh input
    </div>
</body>
</html>
