
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Findkeypoint</title>
</head>
<body>
    <div>
        1. Tìm các keypoint trên ảnh
    </div>
</body>
</html>
