
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>matching</title>
</head>
<body>
    <div> 
        3. Tìm tọa độ 4 đỉnh của một tứ giác và vẽ khung
        4. Vẽ ô vuông bao quanh điểm nhận dạng
    </div>
</body>
</html>
